/* body {
  background-image: url(../images/phone-exhibition.jpg);
  width: 390px;
  height: 10000px;
  opacity: 0.5;
  margin-top: 20vw;
} */
/* body {
  background-image: url(../images/404\ тел.jpg);
  width: 390px;
  height: 10000px;
  opacity: 0.5;
  margin-top: 54vw;
} */
@media screen and (max-width: 500px) {
  body > nav {
    overflow: hidden;
    width: 100%;
  }
  .menu {
    display: none;
  }
  nav {
    border: none;
    background-color: transparent;
  }
  #burger {
    display: block;
    width: 30px;
    height: 26px;
    margin-left: 87vw;
    margin-top: 6vw;
    cursor: pointer;
    position: relative;
  }
  #burger::before,
  #burger::after {
    position: absolute;
    left: 0;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #111;
    border-radius: 10px;
    transition: all ease 0.4s;
  }
  #burger::before {
    top: 0;
    box-shadow: 0 15px 0 #111;
  }
  #burger::after {
    top: 7px;
  }
  #burger.active::before {
    transform: rotate(45deg);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    top: 7px;
    transition: transform ease 0.6s, box-shadow 0.1s, top ease 0.6s;
  }
  #burger.active::after {
    transform: rotate(-45deg);
    transition: transform ease 0.3s;
  }
  .main-menu {
    display: flex;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    background-color: #ffffff;
    transition: transform ease 0.3s;
    transform: translateX(-100%);
    overflow: hidden;
  }
  #burger.active + .main-menu {
    transform: translateX(0);
    transition: transform ease 0.6s;
    z-index: 2;
    margin-top: 4vw;
  }
  .links {
    flex-direction: column;
    gap: 10px;
    display: flex;
    margin-left: 2vw;
  }
  .main-menu a {
    font-size: 3rem;
    line-height: 3rem;
  }
  .main-menu a::before {
    content: "";
    display: block;
    width: 3rem;
    height: 3rem;
    background-image: url("https://img.icons8.com/ios/50/long-arrow-right--v2.png");
    background-size: contain;
    position: absolute;
    right: 30px;
    opacity: 0;
    transition: all ease 0.4s;
  }
  .main-menu a:hover::before {
    opacity: 1;
    transform: translateX(20px);
  }
  .menu-options {
    color: black;
    font-size: 5vw;
  }

  /* СТРАНИЧКА МАГАЗИНА */
  .big-card {
    display: none;
  }
  .card,
  .card-2,
  .card-3,
  .card-4,
  .card-5,
  .card-6 {
    width: 42.8vw;
    height: 52.4vw;
    background-color: #f0f0f0;
    transition: transform 0.3s ease;
  }
  .shop-page-card-one-plus-two {
    display: flex;
    gap: 3vw;
    margin-left: 3vw;
    padding-top: 3vw;
  }
  .shop-page-cap {
    width: 37.468vw;
    height: 39.75vw;
    margin-left: 2.6vw;
    margin-top: 2.7vw;
  }
  .shop-page-phonecase {
    width: 35.625vw;
    height: 42.51vw;
    margin-left: 2.8vw;
    margin-top: 0vw;
  }
  .shop-page-shoppers {
    width: 42.15vw;
    height: 44.7vw;
    margin-top: 2.7vw;
  }
  .card-name {
    color: black;
    margin-left: 2vw;
    padding-top: 2vw;
  }
  .card-name,
  .card-price {
    font-size: 2.3vw;
    font-weight: 500;
  }
  .card-price {
    color: #929292;
    padding-top: 44.2vw;
    margin-left: 2vw;
  }
  .shop-page-plus-small {
    width: 9.18vw;
    height: 4.18vw;
    padding-top: 42vw;
    margin-left: 24.8vw;
  }
  .super-big-card {
    display: none;
  }
  .shop-page-card-one-two-three-four,
  .shop-page-card-one-two-three-four-last {
    display: block;
  }
  .shop-page-box {
    width: 37.409vw;
    height: 34.3vw;
  }
  .shop-page-phonecase-two {
    width: 27.4vw;
    height: 43.3vw;
    margin-left: 7.6vw;
    margin-top: -1.3vw;
  }
  .shop-page-organizer {
    width: 28.76vw;
    height: 37.94vw;
    margin-left: 3.9vw;
    margin-top: 2.7vw;
  }
  .shop-page-menu {
    width: 34.319vw;
    height: 34.54vw;
    margin-left: 3.8vw;
    margin-top: 2.7vw;
  }
  .notebook-t-shirt-tote-bag,
  .big-shop-card-one-two {
    display: none;
  }
  .shop-page-card-one-two-three-four-last {
    display: none;
  }
  .shop-page-card-one-two-three-four-last-PHONE {
    display: block;
    margin-top: 0.6vw;
    margin-left: 3vw;
  }
  .ROW-PHONE-AND-COMP {
    display: flex;
  }

  .shop-page-card-one-two-three-four {
    display: block;
    margin-top: 0.6vw;
    margin-left: 2vw;
  }
  .shop-page-hoodie-2 {
    width: 33.88vw;
    height: 37.5vw;
  }
  .shop-page-flag {
    width: 39.38vw;
    height: 35.23vw;
  }
  .shop-page-shopper-2 {
    width: 36.56vw;
    height: 36.09vw;
  }
  .shop-page-shopper-1 {
    width: 38.25vw;
    height: 33.59vw;
  }
  .inter-iphone {
    margin-top: -6.7vw;
    margin-left: 42vw;
    display: flex;
    position: absolute;
    font-weight: 900;
    font-size: 5.128vw;
    text-align: center;
    color: black;
  }
  .big-text,
  .about-text-one,
  .about-text-two,
  .about-text-three,
  .about-text-five,
  .about-text-four,
  .big-text-two,
  .big-text-three,
  .about-image-four,
  .about-remarka-four,
  .about-end-images,
  .descr-one,
  .rock-one,
  .rock-two,
  .rock-three,
  .rock-four,
  .descr-two {
    display: none;
  }
  .big-text-three-phone,
  .big-text-two-phone,
  .big-text-phone {
    display: flex;
    font-size: 7.3vw;
    line-height: 124%;
  }
  .big-text-three-phone {
    margin-top: 24vw;
    margin-left: 6vw;
  }
  .big-text-two-phone {
    margin-top: 27vw;
    margin-left: 6vw;
  }
  .big-text-phone {
    margin-top: 15.8vw;
    margin-left: 6.2vw;
  }
  .about-image-one {
    width: 150.1vw;
    height: 89.86vw;
    margin-left: -25vw;
    margin-top: 14vw;
  }
  .about-remarka-one-two {
    display: flex;
    margin-top: 1.7vw;
  }
  .about-remarka-one {
    margin-left: 1.8vw;
  }
  .about-remarka-two {
    margin-left: 45.6vw;
  }
  .about-remarka-one,
  .about-remarka-two,
  .about-remarka-three,
  .about-remarka-four {
    color: #686868;
    font-size: 2.5vw;
  }
  .about-text-one-phone,
  .about-text-two-phone,
  .about-text-three-phone,
  .about-text-four-phone,
  .about-text-five-phone {
    display: flex;
    font-size: 4.1vw;
    line-height: 148%;
  }
  .about-text-one-phone {
    margin-top: 22.4vw;
    margin-left: 6.2vw;
  }
  .about-text-two-phone {
    margin-top: 22.4vw;
    margin-left: 6.2vw;
  }
  .about-text-three-phone {
    margin-top: 159.4vw;
    margin-left: 6.2vw;
  }
  .about-text-four-phone {
    margin-top: 28.4vw;
    margin-left: 6.2vw;
  }
  .about-text-five-phone {
    margin-top: 191.4vw;
    margin-left: 7.2vw;
  }
  .about-image-two-phone {
    display: flex;
    position: absolute;
    width: 97.76vw;
    height: 120.01vw;
    margin-left: 2.9vw;
    margin-top: 12.7vw;
  }
  .about-image-two {
    display: none;
  }
  .about-image-three {
    width: 150%;
    height: 87.15vw;
    margin-top: 28.2vw;
    margin-left: -25vw;
  }
  .about-remarka-three {
    margin-top: 1.9vw;
  }
  .exp-page-text-one {
    display: block;
    margin-left: 5vw;
  }
  .exp-page-title {
    font-size: 4.736vw;
    margin-top: 4.4vw;
  }
  .about-image-four-phone {
    display: flex;
    width: 100vw;
    height: 129.73vw;
    position: absolute;
    margin-left: 0vw;
    margin-top: 33vw;
  }
  .exp-page-imgtext-one,
  .exp-page-imgtext-two,
  .exp-page-imgtext-three,
  .exp-page-imgtext-four {
    display: block;
  }
  .exp-page-img-one {
    margin-left: 0vw;
    width: 101vw;
  }
  .exp-page-tobuy-4 p,
  .exp-page-tobuy-3 p,
  .exp-page-tobuy-2 p,
  .exp-page-tobuy p {
    font-size: 3.3vw;
    padding-top: 4.7vw;
    transition: all 0.3s ease-in-out;
  }
  .exp-page-tobuy,
  .exp-page-tobuy-2,
  .exp-page-tobuy-3,
  .exp-page-tobuy-4 {
    width: 90.3vw;
    height: 13.23vw;
  }
  .exp-page-date {
    color: #8a8a8a;
    margin-top: 1.4vw;
    font-size: 2.5vw;
  }
  .exp-page-describtion {
    font-size: 3.18vw;
    margin-top: 2.6vw;
    line-height: 164%;
  }
  .ex-moto {
    font-size: 5.4vw;
  }
  .ex-moto-plus-link {
    display: block;
  }
  .ex-moto-link {
    font-size: 3vw;
    margin-left: 1.4vw;
  }
  .arrow-main-page {
    margin-left: 29.3vw;
    margin-top: 9.3vw;
  }
  .arrow-main-page,
  .arrow-main-page-white,
  .arrow-main-page-wrkshp,
  .arrow-main-page-shop,
  .arrow-main-page-white-archive {
    width: 5.9vw;
    height: 2.9vw;
    position: absolute;
  }
  .main-ex-one {
    width: 70.4vw;
    height: 73.4vw;
    margin-top: 16.5vw;
    margin-left: 2vw;
  }
  .main-ex-two,
  .main-ex-three,
  .main-ex-four,
  .main-ex-five,
  .main-ex-six,
  .ex-one-title,
  .ex-one-data,
  .ex-two-title,
  .ex-two-data,
  .ex-three-title,
  .ex-three-data,
  .ex-four-title,
  .ex-four-data,
  .ex-five-title,
  .ex-five-data,
  .ex-six-title,
  .ex-six-data {
    position: relative;
    display: block;
  }
  .main-ex-two {
    width: 59.4vw;
    height: 35.4vw;
    margin-left: 37.7vw;
    margin-top: 19.5vw;
  }
  .main-ex-three {
    width: 55.95vw;
    height: 34.23vw;
    margin-top: 20vw;
    margin-left: 2.4vw;
  }
  .main-ex-four {
    width: 81.02vw;
    height: 97.01vw;
    margin-left: 16.7vw;
    margin-top: 26.7vw;
  }
  .main-ex-five {
    width: 54.4vw;
    height: 97.98vw;
    margin-top: 21vw;
    margin-left: 2.5vw;
  }
  .main-ex-six {
    width: 50.47vw;
    height: 62.97vw;
    margin-top: 18.2vw;
    margin-left: 47.2vw;
  }
  .main-ex-two,
  .main-ex-three,
  .main-ex-four,
  .main-ex-five,
  .main-ex-six {
    position: relative;
  }
  .ex-one-title,
  .ex-one-data,
  .ex-two-title,
  .ex-two-data,
  .ex-three-title,
  .ex-three-data,
  .ex-four-title,
  .ex-four-data,
  .ex-five-title,
  .ex-five-data,
  .ex-six-title,
  .ex-six-data {
    /* position: relative; */
    display: block;
    position: absolute;
  }
  .ex-one-title,
  .ex-one-data,
  .ex-two-title,
  .ex-two-data,
  .ex-three-title,
  .ex-three-data,
  .ex-four-title,
  .ex-four-data,
  .ex-five-title,
  .ex-five-data,
  .ex-six-title,
  .ex-six-data {
    font-weight: 500;
    font-size: 2.1vw;
  }
  .ex-one-title,
  .ex-one-data {
    margin-top: -431vw;
  }
  .ex-two-title,
  .ex-two-data {
    margin-top: -376vw;
  }
  .ex-two-title {
    margin-left: 37.8vw;
  }
  .ex-two-data {
    margin-left: 71.5vw;
  }
  .ex-three-title,
  .ex-three-data {
    margin-top: -321.6vw;
  }
  .ex-three-title {
    margin-left: 2.6vw;
  }
  .ex-three-data {
    margin-left: 32.6vw;
  }
  .ex-four-title,
  .ex-four-data {
    margin-top: -198.7vw;
  }
  .ex-four-title {
    margin-left: 16.7vw;
  }
  .ex-four-data {
    margin-left: 72.6vw;
  }
  .ex-five-title,
  .ex-five-data {
    margin-top: -79vw;
  }
  .ex-five-title {
    margin-left: 2.6vw;
  }
  .ex-five-data {
    margin-left: 31.9vw;
  }
  .ex-six-title,
  .ex-six-data {
    margin-top: 2vw;
  }
  .ex-six-title {
    margin-left: 47vw;
  }
  .ex-six-data {
    margin-left: 71.9vw;
  }
  .descr-one-phone,
  .descr-two-phone {
    display: flex;
    text-align: center;
  }
  .descr-one-phone {
    font-size: 7.5vw;
    margin-top: 23.6vw;
    margin-left: 5vw;
  }
  .descr-two-phone {
    color: #9d9d9d;
    font-size: 4.1vw;
    margin-top: 14vw;
    margin-left: 9vw;
    line-height: 120%;
  }
  .descr-readnext-container {
    width: 70.7vw;
    height: 12.3vw;
    background-color: black;
    align-content: center;
    margin-left: 15.3vw;
    margin-top: 15.7vw;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  .descr-readnext {
    font-size: 3.84vw;
    color: white;
    text-align: center;
  }
  .onlinegallery-moto {
    font-size: 5.4vw;
    padding-top: 11.4vw;
  }
  .onlinegallery-moto-link {
    margin-top: 5.8vw;
    font-size: 3vw;
    margin-left: 2.7vw;
    padding-bottom: 4vw;
  }
  .images-ongl {
    margin-top: 10vw;
    height: 73.55vw;
  }
  .onlain-gallery {
    height: 173vw;
  }
  .slider img {
    width: 100vw;
  }
  .slider {
    animation: slideX 25s linear infinite;
  }
  .arrow-main-page-white {
    margin-left: 31.3vw;
    margin-top: -6.9vw;
  }
  .all-ongl-text {
    display: block;
  }
  .ongl-text {
    font-size: 3.2vw;
    padding-top: 6vw;
  }
  .workshop-moto-link {
    margin-top: 6vw;
    font-size: 3vw;
    margin-left: 1.9vw;
  }
  .arrow-main-page-wrkshp {
    margin-top: -3vw;
    margin-left: 29.7vw;
  }
  .workshop-moto {
    margin-top: 17vw;
  }
  .img-wrsh-wrapper {
    display: none;
  }
  .wrsh-img-phone {
    display: flex;
    height: 125vw;
    margin-top: 10vw;
  }
  .workshop-moto,
  .archive-moto,
  .shop-moto {
    font-size: 5vw;
  }
  .shop-moto-link {
    margin-top: -1vw;
    font-size: 3vw;
    margin-left: 1.9vw;
    margin-top: 6vw;
  }
  .arrow-main-page-shop {
    margin-left: 30.3vw;
    margin-top: -2.9vw;
  }
  .shop-page-card-one-two-three-four {
    display: none;
  }
  .shopper-and-hoodie-mp-phone,
  .flag-and-shopper2-mp-phone {
    display: flex;
    margin-top: 7vw;
    margin-left: 5vw;
  }
  .rows-as-flex-in-two-blocks {
    display: block;
  }
  .archive-moto-plus-link {
    margin-top: 13.9vw;
  }
  .archive-moto-link {
    margin-top: 21.2vw;
    font-size: 3vw;
    margin-left: -57vw;
  }
  .archive-moto {
    margin-top: 8vw;
  }
  .black-background-archive {
    height: 124vw;
  }
  .kamen-mesta-text {
    font-size: 11vw;
    margin-top: 7vw;
  }
  .dop-01 {
    font-size: 2.38vw;
  }
  .arrow-main-page-white-archive {
    margin-left: 30vw;
    margin-top: 21.3vw;
  }
  .big-inter {
    font-size: 19.458vw;

    margin-top: 23vw;
  }
  .sentence {
    font-size: 3vw;
    margin-left: 2.1vw;
    line-height: 130%;
    margin-top: 11vw;
  }
  .podval-rocks-all {
    display: none;
  }
  .podval-links,
  .podval-links-g {
    font-size: 2.6vw;
  }
  .podval-blocks-flex {
    display: flex;
    gap: 12.5vw;
    margin-left: 2.2vw;
    margin-top: 25.8vw;
    padding-bottom: 14vw;
  }
  .modal,
  .modal2,
  .modal3,
  .modal4 {
    width: 75.8vw;
    height: 117.08vw;
    margin-left: 11vw;
    margin-top: 1.95vw;
  }
  .forma-title {
    font-size: 3.319vw;
  }
  .whole-exp-two,
  .whole-exp-four {
    display: none;
  }
  .exp-page-podval-links {
    display: none;
  }
  .wrksh-1-text {
    font-size: 1.97vw;
  }
  .wrkshp-1,
  .wrkshp-3,
  .wrkshp-2-2,
  .wrkshp-4-2 {
    display: none;
  }
  .to-hide {
    margin-top: 325vw;
  }
  .wrkshp-1-2 {
    margin-left: 22.2vw;
    width: 58vw;
    height: 84vw;
    margin-top: 19.7vw;
  }
  #fixed-text-1 {
    display: flex;

    z-index: 1;
  }
  .wrkshp-2 {
    /* width: 60.7vw; */
    height: 52.48vw;
    margin-left: 12.1vw;
    margin-top: 107.5vw;
  }
  .wrkshp-3-2 {
    margin-left: 19.6vw;
    width: 57vw;
    height: 110vw;
    margin-top: 150vw;
  }
  .wrkshp-4 {
    width: 75.7vw;
    /* height: 66.48vw; */
    margin-left: 14.1vw;
    margin-top: 256.5vw;
  }
  .modal,
  .modal3,
  .korzina {
    display: none;
  }
  .back-to-main-and-shop {
    display: flex;
    gap: 9vw;
    margin-left: 11vw;
    margin-top: 14vw;
  }
  .waiting {
    font-size: 3.6vw;
    text-align: center;
    margin-top: 47vw;
    font-family: "Inter";
    font-weight: 500;
  }
  .back-to-main-button,
  .back-to-shop-button {
    width: 35.2vw;
    height: 4vw;
    background-color: #1a1a1a;
    padding-top: 2.7vw;
    text-align: center;
    transition: all 0.3s ease-in-out;
  }
  .back-to-shop-button p,
  .back-to-main-button p {
    font-size: 2vw;
    color: white;
    transition: all 0.3s ease-in-out;
  }
  .shop-page-card-one-plus-two {
    display: none;
  }
  .error {
    font-size: 33.152vw;
    font-weight: 500;
    color: grey;
    margin-top: 49vw;
  }
  .error-text-phone {
    display: flex;
    color: #626262;
    font-size: 4.6vw;
    font-style: normal;
    margin-top: 4vw;
    line-height: 1.6;
    margin-left: 16vw;
    text-align: center;
  }
  .error-text {
    display: none;
  }
  .back-to-main {
    margin-top: 7vw;
    background-color: black;
    color: white;
    width: 66vw;
    font-size: 3.3vw;
    text-align: center;
    padding: 4.5vw;
    transition: transform 0.3s ease-in-out;
  }
  #a1header {
    left: -1vw;
    top: 162.8vw;
  }
  #a1 {
    width: 45.319vw;
    rotate: 30deg;
    height: 42.36vw;
  }
  #a2header {
    left: 69.6vw;
    top: 24.8vw;
  }
  #a2 {
    width: 23.65vw;
    height: 23.19vw;
  }
  #a3header {
    left: 69vw;
    top: 137.5vw;
  }
  #a3 {
    width: 19.65vw;
    height: 19.19vw;
  }
  #a4header {
    left: 59vw;
    top: 180.4vw;
  }
  #a4 {
    position: absolute;
    z-index: 9;
    width: 35.65vw;
    rotate: 32deg;
    height: 23.19vw;
  }
  #a5header {
    left: -0.35vw;
    top: 40.8vw;
  }
  #a5 {
    width: 24.6vw;
    height: 19.19vw;
  }
  #a6header {
    left: 20.4vw;
    top: 15.8vw;
  }
  #a6 {
    width: 33.65vw;
    height: 29.19vw;
  }
  #a7header {
    display: none;
  }
  #a8header {
    display: none;
  }
  #a9header {
    left: 36.5vw;
    top: 150.9vw;
  }
  #a9 {
    width: 26.65vw;
    height: 24.19vw;
  }
  #a10header {
    display: none;
  }
  #a11header {
    left: 12.4vw;
    top: 133vw;
  }
  #a11 {
    width: 24.65vw;
    height: 26.19vw;
  }
}
